html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.container__top {

}
.container__body {
  flex: 1;
  display: flex;
  min-height: 0;
}
.container__side {
  flex-shrink: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid grey;
  overflow-y: scroll;
}
.container__content {
  flex: 1;
}

.top-nav {
  background: linear-gradient(to left, #28a5f5, #1e87f0);
}
.top-nav__content {
  display: flex;
  align-items: center;
  height: 48px;
}
.top-nav__home-link {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.top-nav__home-logo {
  margin-right: 8px;
}
.top-nav__home-logo svg {
  width: 24px;
  height: 24px;
}
.top-nav__tools {
  margin-left: auto;
}
.top-nav__sns-icon {
}
.top-nav__sns-icon svg {
  width: 24px;
  height: 24px;
}
.top-nav__sns-icon svg path {
  fill: #ffffff;
}

.side-item {
  padding: 8px 4px;
}

.content {
  width: 100%;
  height: 100%;
  white-space: pre;
  overflow-y: scroll;
}
